html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #222222;
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  font-family: 'Roboto';
  font-size: 13pt;
}

div.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

/* Page Header */
div#header {
  flex: 0 1 auto;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

div#header h1 {
  margin: 0;
  padding:24px 0px 0px 0px;
  color: #ffffff;
  text-shadow: 0px 0px 5px #000000;
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 56px;
}

div#header h2 {
  margin: 0;
  padding: 0;
  color: #cccccc;
  text-shadow: 0px 0px 5px #000000;
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 27px;
}

div#login-dialog {
  position: fixed;
  top: 35px;
  right: 150px;
  padding: 10px;
  background: #000000;
  color: #cccccc;
  border: 1px solid #444444;
}

/* Menu Bar */
div#menubar {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
}

div#menubar ul#menu {
  text-align: left;
  margin: 0px 0 0;
  padding: 10px 150px;
  list-style: none;
  border-bottom: 1px solid #444444;
  background: #000000;
  height: 15px;
}

div#menubar ul#menu li {
  display: inline;
  font-size: 10pt;
  font-weight: 300;
  margin: 0px;
  float: left;
}

div#menubar ul#menu li#login {
  float: right;
}

div#menubar ul#menu li a {
  padding: 10px;
  border-left: 1px solid #222222;
  border-right: 1px solid #222222;
  color: #cccccc;
  text-decoration: none;
}

div#menubar ul#menu li a:hover, div#menubar ul#menu li button:hover {
  border-left: 1px solid #444444;
  border-right: 1px solid #444444;
  border-bottom: 1px solid #222222;
  background: #222222;
  color: #ffffff;
  text-decoration: none;
}

div#menubar ul#menu li button {
  margin: -10px 0 0;
  border: 0;
  font-size: 10pt;
  font-weight: 300;
  border-left: 1px solid #222222;
  border-right: 1px solid #222222;
  color: #cccccc;
  background: #000000;
  height: 35px;
}

div#menubar ul#menu li button:focus {
  outline: none;
}

/* Realm List */
span#realmlist {
  font-family: 'Inconsolata';
  display: inline-block;
  padding: 10px 25px;
  margin: 25px;
  border: 1px #666666 solid;
  border-radius: 5px;
  background: rgba(50,50,50,.5);
  color: #cccccc;
  text-shadow: 0px 0px 1px #000000;
}

/* Main Content */
div#content {
  flex: 1 1 auto;
  padding: 20px 50px;
  border-top: 1px #444444 solid;
  background: rgba(0,0,0,.5);
  text-align: center;
  color: #ffffff;
}

div#content div#page {
  margin: auto;
  text-align: left;
  width: 900px;
}

div#content h3 {
  margin: 10;
  padding: 10;
  font-size: 22pt;
  font-weight: 300;
}

div#content div.infobox {
  border-left: 4px #666666 solid;
  background: rgba(102, 102, 102, .25);
  padding: 10px 20px;
}

/* Realm Status */
table#realms {
  margin: 50px auto;
  border-style: hidden;
  width: 500px;
  font-size: 16px;
  color: #ffffff;
}

table#realms th {
  padding: 10px;
  border: 0px solid #000000;
  color: #ffffff;
  text-shadow: 0px 0px 5px #000000;
  font-size: 12pt;
  font-weight: 100;
}

table#realms td {
  font-weight: 300;
  text-shadow: 0px 0px 5px #000000;
  padding: 2px;
}

table#realms td.green {
  background: #336633;
}

table#realms td.red {
  background: #663333;
  color: #ffffff;
}

/* Register Formular */
form#gameacc input, form#loginacc input {
  padding: 10px;
  background: #222222;
  border: 1px solid #666666;
  color: #ffffff;
}

form#gameacc input:focus, form#loginacc input:focus {
  outline: none;
}

form#gameacc input.error {
  border: 1px solid #aa4444;
  background: #442222;
}

p.msg {
  display: block;
  padding: 10px;
  color: #ffffff;
  border-left: 4px #446644 solid;
  background: rgba(68, 102, 68, .25);
  padding: 10px 20px;
}

/* Page Footer */
div#footer {
  flex: 0 0 auto;
  background: rgba(0,0,0,1);
  border-top: 1px #222222 solid;
  text-align: center;
  padding: 5px;
  color: #ffffff;
}

div#footer a {
  color: #cccccc;
  text-decoration: none;
}
